@import "tailwindcss";

@theme {
  --color-primary: #1A3C5E;
  --color-accent: #2E86AB;
  --color-success: #1E8449;
  --color-warning: #D35400;
  --color-danger: #C0392B;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}
